<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Gaols/IdeaProjects/Base">

            <parameter name="env" value="qa"/>
            <parameter name="name" value="gaols"/>
            <parameter name="pwd" value="123456"/>
        <classes>
            <class name="ParametersAndDataprovider.parameterDemo">
                <methods>
                    <include name="parameterTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>